.wrapper {
    margin: 0 auto;
    max-width: 600px;
    margin-top: 100px;
    .headline {
        font-size: 7rem;
        text-align: center;
    }
    .count {
        margin-bottom: 5px;
    }
    .divider {
        margin-top: 0;
    }
}
